
<!--h3>Top Cities</h3>
<div class="grid grid-pad">
  <a *ngFor="let city of cities"  [routerLink]="['/detail', city.id]"  class="col-1-62">
    <div class="module city">
      <h4>{{city.name}}</h4>
    </div>
  </a>
</div-->

<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<div class="inField" id = "pocetni">
  <h2 align="center">Welcome to the City Guide! Please enter the city.</h2>
  <br>
  <h2 align="center">You entered {{choice}}.</h2>
  <br>
  <form class="form-inline">
    <input type="text" [(ngModel)]="choice" placeholder="ex. Sarajevo" name="first" id = "search">
    <button type="submit" class="btn" (click)="goToChoice(choice)">GO!</button>
  </form>
</div>
</body>
</html>
