
<!--h3>Top Cities</h3>
<div class="grid grid-pad">
  <a *ngFor="let city of cities"  [routerLink]="['/detail', city.id]"  class="col-1-62">
    <div class="module city">
      <h4>{{city.name}}</h4>
    </div>
  </a>
</div-->

<!DOCTYPE html>
<html>
<body>
		
	<div class="inField">
		<h2 align="center">Welcome to the City Guide! Please enter the city.</h2>
	<form>
		<input type="text" placeholder="ex. Sarajevo" id="search" action="" method="get">
		<br>
		<br>
		<button type="button" id="detailButton" (click)="gotoDetail()">GO!</button>
	</form>
	</div>
</body>
</html>
