/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body, html { margin:0; padding:0; height:100%; width:100% }
		bgimage {position:fixed; left:0; top:0; z-index:100%: width:100% }
		welcometxt {position:fixed; right:-260px; top:0; z-index:0; height:100%;
						width: 100%; padding:250px; font-size:38
						}
		inField {position:fixed; width:300px; height:250px; margin-top:300px}
		inField input[type="text"]{width:200px; height:30px;}
		inField detailButton {width:60px; height:25px;}
		
		form{position:absolute; left:600px; top:-300px display:inline-block; z-index:10}
						

